{% extends '@MauticCore/Default/content.html.twig' %}

{% block headerTitle %}Test Channel{% endblock %}

{% block content %}
  <div class="panel">
    <div class="panel-body">
      <h3>Hello there 👋</h3>
      <p>Página de prueba del canal dentro del chrome de Mautic 6.</p>
    </div>
  </div>
{% endblock %}
